body{
  background-color: #ccddff;
}
.App{
  justify-content: center;
  align-items: center;
  text-align: center;
}
button{
  width: 15%;
  background-color: #4caf50;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bolder;
}
button:hover{
  background-color: #4caf50;

}